<div class="about-container inner-container">
  <h1>About Me</h1>
  <div class="row">
    <div class="portrait">
      <img src='images/about/Portrait.jpg' alt="This is me..."/>
    </div>
    <div class="basic-info">
      <h2>Kevin Ray Whetten</h2>
      <h3><strong>Born:</strong> December 26, 1993</h3>
      <h3><strong>Age:</strong> {{ age }}</h3>
      <p>I am a professional Software Developer specializing in Angular and .NET. I am proficient with Angular, C#,
        SQL Server, and more.</p>
      <p>In my free time, I like to play Nintendo games, board games, and tabletop RPGs; compose symphonic music, design
        board games, build fantasy worlds, paint miniatures, and develop random software relating to my other
        hobbies.</p>
      <p></p>
      <h2>Contact Me</h2>

      <h3>Email</h3>
      <p>krwhetten&#64;gmail.com</p>

      <h3>Phone Number</h3>
      <p>(801) 360-0761</p>

      <h3>Social Media</h3>
      <h4>LinkedIn</h4>
      <p><a href="https://www.linkedin.com/in/kevin-whetten" target="_blank">www.linkedin.com/in/kevin-whetten</a></p>

      <h4>Board Game Geek</h4>
      <p><a href="https://boardgamegeek.com/user/N00dles62" target="_blank">www.boardgamegeek.com/user/N00dles62</a></p>
    </div>
  </div>
</div>
