<div class="inner-container">
  <h1>Projects</h1>

  <p>This is where I have a list of my publicly available projects. In addition to the projects listed below, this website
    was built using the Angular framework, and I am still actively developing it. I hope you enjoy this glimpse into my
    interests and coding abilities. Each of these projects is 100% original work.</p>

  <a target="_blank"
     href="https://docs.google.com/document/d/1uFOGsfsYP2AePC0KjHvpc79nuekG3ztP/edit?usp=sharing&ouid=116308925896048883792&rtpof=true&sd=true">
    <h2>Western Governors University Capstone Project</h2></a>
  <p>I developed a project for Emmersion for my capstone project at WGU. Although I no longer have access to the code, I
    do have a detailed explanation of the project available
    <a target="_blank"
       href="https://docs.google.com/document/d/1uFOGsfsYP2AePC0KjHvpc79nuekG3ztP/edit?usp=sharing&ouid=116308925896048883792&rtpof=true&sd=true">here</a>.
  </p>

  <a target="_blank" href="https://github.com/KevinWhetten/triangles"><h2>Triangle Project</h2></a>
  <p>I created this little project for a job interview I had in January, 2023. It's pretty simple, but I learned a lot
    about the HTML Canvas element while I was figuring out how to draw the triangles. The github repository for it can be
    found <a target="_blank" href="https://github.com/KevinWhetten/triangles">here</a>.</p>

  <a target="_blank" href="http://www.ootr-tracker.com"><h2>Tracker for The Legend of Zelda: Ocarina of Time Randomizer</h2></a>
  <p>The Legend of Zelda: Ocarina of Time is one of my favorite games ever. I have a ton of nostalgia for it. The only
    problem is that I know the game so well, it's not as fun on replay. However, with the Legend of Zelda: Ocarina of Time
    Randomizer (OoTR for short), new challenges are presented every time you play, making the game new again. It takes all
    the items available in the game and randomizes their locations. I enjoy playing it so much that I created my own
    personal tracker. It contains a list of places where items can be found, an inventory screen for tracking items
    obtained, and a hint section where in-game hints can be recorded quickly. It is available for anyone to use at
    <a target="_blank" href="http://www.ootr-tracker.com">www.ootr-tracker.com</a>. It is currently incomplete, but I am
    actively working on it. The github repository can be found <a target="_blank" href="https://github.com/KevinWhetten/ootr-tracker">here</a>.</p>

  <a target="_blank" href="https://www.traveller-character.com"><h2>Traveller RPG Character Creator</h2></a>
  <p>I am a big fan of TTRPGs, and Traveller is one that I have my eye on. I haven't had the opportunity to run a game
    yet, but character creation is so interesting and complex that I thought I would make my own character creator.
    It is also incomplete, but available at <a target="_blank" href="https://www.traveller-character.com">www.traveller-creator.com</a>.
    The github repository can be found <a target="_blank" href="https://github.com/KevinWhetten/traveller-character-creator">here</a>.</p>
</div>
