<header>
  <nav>
    <div class="nav-container">
      <a class="title" [routerLink]="['/']">Kevin Whetten</a>
      <ul class="nav-links">
        <li
          [routerLinkActive]="['link-active']"
          [routerLinkActiveOptions]="{ exact: true }">
          <a class="link" [routerLink]="['/']">About</a>
        </li>
        <li
          [routerLinkActive]="['link-active']">
          <a class="link" [routerLink]="['/education']">Education</a>
        </li>
        <li>
          <a class="link" [routerLink]="['/music']">Music</a>
        </li>
        <li>
          <a class="link" [routerLink]="['/projects']">Coding Projects</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
